<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485923650572-ilfbrv60eij2iam4pecksvoc11p7k93p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485923650572-ilfbrv60eij2iam4pecksvoc11p7k93p</string>
	<key>API_KEY</key>
	<string>AIzaSyDybsuctRBnWcF-ZF1GDWLhCV5kUF1_hqc</string>
	<key>GCM_SENDER_ID</key>
	<string>485923650572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wasem.sezonApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sezon-app-1bb64</string>
	<key>STORAGE_BUCKET</key>
	<string>sezon-app-1bb64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485923650572:ios:860b0f37d14b555a264229</string>
</dict>
</plist>